# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.env*
.firebase/*
.firebaserc*
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
#compiler output
/builder/desktop/build/bin/*
/builder/desktop/build/js/*
/builder/mobile/build/bin/*
